body {
    background-image: url(/static/back_Cinema.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    min-height: 100vh;
    padding-bottom: 5rem; 
    margin: 0;
    font-family: Arial;
}
* {
  box-sizing: border-box;
}
.header {
  overflow: hidden;
  background-color:rgb(104, 38, 124);
  padding-block: 1em;
  border-radius: 0 0 10% 10% / 10%;
  text-align: center;
}
.header h1{
  font-size: 25px;
  color: rgb(175, 24, 69);
}
.header a {
  color: rgb(202, 44, 78);
  padding: 12px;
  text-decoration: none; 
  font-size: 18px; 
  line-height: 25px;
  border-radius: 12px; 
  font-family: 'Segoe UI';
}
.header a:hover {
    background-color: rgb(81, 67, 99);
    color: white;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: rgb(116, 50, 160);
 }
h2 {
  text-align: center;
  color: rgb(194, 40, 117);
  display: flex; 
  flex-direction: row;
}
h3 {
  text-align: center;
  color: rgb(223, 159, 180);
}
h2:before, h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid rgb(56, 15, 80);
  margin: auto;
}
.form {
  width: 400px;
  height: calc(100% );
  margin: 10px auto ;
  text-align: center; 
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  background: radial-gradient(circle, rgb(187, 96, 118) 0%, rgb(126, 64, 145) 100%);
  border-radius: 5px; 
  border: 2px solid rgb(73, 5, 90);   
}  
input[type=email], input[type=password],input[type=text], input[type="date"], input[type="time"], input[type="number"]{
  width: 100%;
  color: rgb(41, 1, 65);
  border: 2px solid rgb(86, 1, 88);
  border-radius: 5;
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  background-color: rgb(183, 131, 207);
  cursor: pointer;
}
input[type=radio] {
  height: 16px;
  width: 16px;
}
select {
  width: 100%;
  color: rgb(41, 1, 65);
  border: 2px solid rgb(86, 1, 88);
  border-radius: 5;
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  background-color: rgb(183, 131, 207);
  cursor: pointer;
}
.submit{  
  width: 100%;  
  padding: 12px 20px;
  border: 2px solid rgb(207, 188, 198);  
  border-radius: 5;  
  margin: 20px auto;
  cursor: pointer;
  color: rgb(230, 218, 238);
  background-color: rgb(255, 55, 178);
} 
.submit:hover {
  background-color: rgb(158, 48, 231);
  border: 2px solid rgb(175, 57, 175);
}
table {
  display: table;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
table th{
  text-align: center;
  border: 2px solid rgb(206, 154, 193);
  color: rgb(199, 3, 78);
}
table td{
  height: 75px;
  text-align: center;
  border: 1px solid rgb(134, 121, 132);
}
tr:nth-child(even) {
  color: rgb(250, 84, 125);
}
tr:nth-child(odd) {
  color: rgb(241, 185, 199);
}
.edit {
  overflow: hidden;
  white-space: nowrap;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 12px; 
  line-height: 25px;
  border-radius: 5px; 
  background-color: rgb(124, 12, 189);
}
.delete {
  overflow: hidden;
  white-space: nowrap; 
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 12px; 
  line-height: 25px;
  border-radius: 5px; 
  background-color: rgb(216, 32, 93);
}
.buttom {
  overflow: hidden;
  white-space: nowrap;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 12px; 
  line-height: 25px;
  border-radius: 5px; 
  background-color: rgb(39, 16, 66);
  border: 2px solid rgba(183, 26, 94, 1);
}
.buttom:hover {
  background-color: rgba(183, 26, 94, 1);
  border: 2px solid rgb(26, 7, 36);
}
#price{
  color:rgb(28, 7, 37);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid rgb(190, 39, 114);
  border-radius: 5px;
}