{% extends 'base.html' %}
{% block content %}
    <section class='form'>
        <h2>&nbsp;&nbsp;Add Movie&nbsp;&nbsp;</h2>
        <form action="{{ url_for('manager.add_movie_post') }}" method="post">
            <div>
                <label>Room: 
                    <select name="room" required>
                        {% for room in rooms %}
                            <option value="{{room.id}}">{{room.name}}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div>
                <label>Movie Title: <input type="text" name="title" placeholder="Enter Movie Title..." required/></label>
            </div>
            <div>
                <label>Movie Image URL: <input type="text" name="image" placeholder="Enter Movie Image URL..." required/></label>
            </div>
            <div>
                <label><br>Date:<br></label>
                <input type="date" name="day" value="{{current_day}}" min="2024-09-10" max="2025-12-31" required>
            </div>
            <div>
                <label><br>Time:<br></label>
                <input type="time" name="time" value="00:00" required>
            </div>
            <div><input class='submit' type="submit" value="Add"/></div>
        </form>
    </section>
{% endblock %}