<table class="table-movie">
    <thead>
    <tr>
        <th>Movie Image</th>
        <th>Movie Id</th>
        <th>Room</th>
        <th>Title</th>
        <th>Total Seats</th>
        <th>Seats Available</th>
        <th>Seats Booked</th>
        <th>Day</th>
        <th>Time</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
            {% set movieX = "movieX"  ~ movie.id  %}
            <tr id="{{movieX}}">
                <td><img src={{movie.image}} width=120 style="border-radius: 15px;"></a></td>
                <td>{{ movie.id }}</td>
                <td>{{ movie.room.name }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.room.total_seats }}</td>
                <td>{{ movie.room.total_seats - movie.booked_seat }}</td>
                <td>{{ movie.booked_seat }}</td>
                <td>{{ movie.day.strftime('%d-%m-%Y') }}</td>
                <td>{{ movie.time.strftime('%H:%M') }}</td>
                <td class="sold"><a class="buttom" href="{{ url_for('main.reservation', id=movie.id) }}">Buy Ticket</a></td>    
            </tr>
        {% endfor %}
    </tbody>
</table>